@media (min-width: 901px){
    .cwb-positioner{
        width: 100%;
    }
    
    .cwb-container{
        width: 100%;
        max-width: 1450px;
        background-color: white;
        margin: 15px auto;
    }
    
    .cwb-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        grid-auto-rows: 400px;
        justify-content: center;
        overflow-x: auto;
        padding: 0 20px;
    }
    
    .cwb-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: 1px solid rgb(189, 189, 189);
    }
    
    .cwb-select{
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        cursor: pointer;
    }
    
    .cwb-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .cwb-select option {
        padding: 10px;
    }
    
    .cwb-h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
}

@media (max-width: 900px){
    .cwb-positioner{
        width: 100%;
    }
    
    .cwb-container{
        width: 100%;
        background-color: white;
        margin: 0 auto;
    }
    
    .cwb-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px);
        grid-auto-rows: 350px;
        justify-content: center;
        overflow-x: auto;
        padding: 0;
    }
    
    .cwb-top{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: 1px solid rgb(189, 189, 189);
    }
    
    .cwb-select{
        margin: 20px 0 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
    }
    
    .cwb-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .cwb-select option {
        padding: 10px;
    }
    
    .cwb-h2{
        text-transform: uppercase;
        margin: 0 auto;
    }
}
