@media (min-width: 901px){
    .awb-positioner{
        width: 100%;
    }
    
    .awb-container{
        max-width: 1450px;
        background-color: white;
        margin: 15px auto;
    }
    
    .awb-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px); /* Fixed column width */
        grid-auto-rows: 400px; /* Ensures all cards have the same height */
        justify-content: center;
        overflow-x: auto; /* Allows horizontal scrolling if needed */
        padding: 0 20px;
    }
    
    .awb-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: 1px solid rgb(189, 189, 189);
    }
    
    .awb-select{
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        cursor: pointer;
    }
    
    .awb-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .awb-select option {
        padding: 10px;
    }
    
    .awb-bbya{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .awb-by{
        font-weight: 400;
        font-size: 1.5rem;
    }
    
    .awb-name{
        text-transform: uppercase;
        font-size: 1.7rem;
        margin-left: 10px;
    }
    
    .awb-nc{
        align-items: center;
    }
    
    .awb-details{
        display: none;
        padding: 20px 20px 0 20px;
    }
    
    .awb-dc, .awb-desc{
        margin-top:10px;
    }
}

@media (max-width: 900px){
    .awb-positioner{
        width: 100%;
    }
    
    .awb-container{
        max-width: 1450px;
        background-color: white;
        margin: 15px auto;
    }
    
    .awb-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px); /* Fixed column width */
        grid-auto-rows: 350px; /* Ensures all cards have the same height */
        justify-content: center;
        overflow-x: auto; /* Allows horizontal scrolling if needed */
        padding: 0;
    }
    
    .awb-top{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 20px;
        border-bottom: 1px solid rgb(189, 189, 189);
    }
    
    .awb-select{
        margin: 20px 0 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
    }
    
    .awb-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .awb-select option {
        padding: 10px;
    }

    .awb-bbya{
        display: flex;
        flex-direction: column;
    }

    .awb-by{
        font-weight: 400;
        margin-bottom: 7px;
    }
    
    .awb-name{
        text-transform: uppercase;
    }
    
    .awb-nc{
        align-items: center;
    }
    
    .awb-details{
        display: none;
        padding: 20px 20px 0 20px;
    }
    
    .awb-dc, .awb-desc{
        margin-top:10px;
    }
}