@media (min-width: 901px){
    .account-component-container{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }
    
    .account-update-container{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
        padding: 30px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
    
    .account-details-container{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        padding: 30px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
}

@media (max-width: 900px){
    .account-component-container{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }
    
    .account-update-container{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
    }
    
    .account-details-container{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }
}

.account-component-container h2, .account-update-container h2{
    text-align: center;
    padding: 10px 0;
}

.account-details-container h1{
    padding: 10px 0;
}

.account-input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-input{
    padding: 8px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.account-input:focus{
    border: 1px solid #007BFF;
    box-shadow: 0 0 5px #007BFF;
}

.albc{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.albc2{
    margin: 20px 0;
    display: flex;
}

.reg-link{
    color: #007BFF;
    text-decoration: underline;
    margin: 8px 0 15px;
}

.account-info{
    margin-bottom: 20px;
}

.account-info p{
    padding: 7px 0;
}