.account-component-container{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 10px;
}

.account-component-container h2{
    text-align: center;
    padding: 10px;
}

.account-input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-input{
    padding: 8px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.account-input:focus{
    border: 1px solid #007BFF;
    box-shadow: 0 0 5px #007BFF;
}

.albc{
    width: 30%;
    max-width: 100px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.reg-link{
    color: #007BFF;
    text-decoration: underline;
    margin: 8px 0 15px;
}

.account-details-container{
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 20px auto 40px auto;
}