@media (min-width: 901px){
    .all-books-container{
        width: 100%;
        max-width: 1450px;
        background-color: white;
        margin: 15px auto;
    }
    
    .bd-positioner{
        width: 100%;
    }
    
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px); /* Fixed column width */
        grid-auto-rows: 400px; /* Ensures all cards have the same height */
        justify-content: center;
        overflow-x: auto; /* Allows horizontal scrolling if needed */
        padding: 0 20px;
    }
    
    .ab-controlls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
    }
    
    .ab-search-bar[type="text"],
    .ab-select {
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        max-width: 300px;
    }
    
    .ab-search-bar[type="text"]:focus,
    .ab-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .ab-search-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .ab-search-bar[type="text"]::placeholder {
        color: #aaa;
    }
    
    .ab-select {
        background-color: #fff;
        cursor: pointer;
    }
    
    .ab-select option {
        padding: 10px;
    }
    
    .ab-h1{
        text-transform: uppercase;
    }
    
    .search-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    
    .search-tag {
        background-color: #ce5200;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }
    
    .search-tag button {
        background: none;
        border: none;
        color: white;
        margin-left: 8px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .search-tag button:hover {
        color: black;
    }
}

@media (max-width: 900px){
    .all-books-container{
        width: 100%;
        max-width: 1450px;
        background-color: white;
        margin: 15px auto;
    }
    
    .bd-positioner{
        width: 100%;
    }
    
    .book-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 170px); /* Fixed column width */
        grid-auto-rows: 350px; /* Ensures all cards have the same height */
        justify-content: center;
        overflow-x: auto; /* Allows horizontal scrolling if needed */
        padding: 0;
    }
    
    .ab-controlls {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .ab-search-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    .ab-search-bar[type="text"],
    .ab-select {
        padding: 11px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
    }
    
    .ab-search-bar[type="text"]:focus,
    .ab-select:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .ab-search-bar[type="text"]::placeholder {
        color: #aaa;
    }
    
    .ab-select {
        background-color: #fff;
        cursor: pointer;
    }
    
    .ab-select option {
        padding: 10px;
    }
    
    .ab-h1{
        text-transform: uppercase;
    }
    
    .search-tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    
    .search-tag {
        background-color: #ce5200;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }
    
    .search-tag button {
        background: none;
        border: none;
        color: white;
        margin-left: 8px;
        cursor: pointer;
        font-size: 14px;
    }
    
    .search-tag button:hover {
        color: black;
    }
}