@media (min-width: 901px) {
    .bundle-container {
        margin: 0 auto;
        padding: 20px;
        background-color: white;
    }
    
    .bundle-container h1{
        text-align: center;
        margin: 10px 0 20px 0;
    }
    
    .slick-slider {
        position: relative; /* Ensures correct positioning for the slider */
    }
    
    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 10px;
        height: 400px;
    }
    
    .card {
        width: 220px;
        height: 380px;
        transition: transform 0.3s ease;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    .card:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .slick-prev, .slick-next {
        z-index: 100;
        top: 30%;
        transition: transform 0.3s ease;
    }
    
    .slick-prev {
        left: -90px;
    }
    
    .slick-next {
        right: -10px;
    }
    
    .slick-prev:hover, .slick-next:hover {
        transform: scale(1.1);
    }
    
    .prev-arrow img, .next-arrow img{
        height: 100px;
    }
}

@media (min-width: 1601px) {
    .bundle-container{
        width: 1450px
    }
}

@media (min-width: 1401px) and (max-width: 1600px){
    .bundle-container{
        width: 1220px
    }
}

@media (min-width: 1201px) and (max-width: 1400px){
    .bundle-container{
        width: 1000px
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    .bundle-container{
        width: 750px
    }
}

@media (max-width: 900px) {
    .slick-prev, .slick-next {
        display: none;
    }

    .bundle-container{
        width: 100%;
    }

    .bundle-container {
        margin: 0 auto;
        padding: 10px;
        background-color: white;
    }
    
    .bundle-container h1{
        text-align: center;
        margin: 0;
    }
    
    .slick-slider {
        position: relative;
    }
    
    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 10px;
        height: 350px;
    }
    
    .card {
        width: 180px;
        height: 330px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}