@media (min-width: 901px){
    .all-authors-container{
        width: 100%;
        max-width: 1000px;
        background-color: white;
        margin: 15px auto;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 10px;
    }
    
    .aa-top{
        padding: 20px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
    
    .aa-h1{
        text-transform: uppercase;
    }
    
    .aa-search-bar[type="text"] {
        padding: 10px 15px; /* Padding inside the input and select */
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
        max-width: 300px;
    }
    
    .aa-search-bar[type="text"]:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .aa-search-bar[type="text"]::placeholder {
        color: #aaa;
    }
    
    .aa-ul{
        padding: 10px;
    }
    
    .aa-li-container:hover{
        background-color: #f0f0f0;
    }
    
    .aa-li{
        font-size: 1.2rem;
        padding: 10px;
    }
}

@media (max-width: 900px){
    .all-authors-container{
        width: 100%;
        max-width: 1000px;
        background-color: white;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
    }
    
    .aa-top{
        padding: 20px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    
    .aa-h1{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .aa-search-bar[type="text"] {
        padding: 10px 15px; /* Padding inside the input and select */
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s, box-shadow 0.3s;
        width: 100%;
    }
    
    .aa-search-bar[type="text"]:focus {
        outline: none;
        border-color: #007BFF;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    .aa-search-bar[type="text"]::placeholder {
        color: #aaa;
    }
    
    .aa-ul{
        padding: 10px;
    }
    
    .aa-li-container:hover{
        background-color: #f0f0f0;
    }
    
    .aa-li{
        font-size: 1.2rem;
        padding: 10px;
    }
}
