.hero-container{
    width: 100%;
    margin-bottom: -5px;
}

.banner-container{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto -5px auto;
}

@media (min-width: 901px){
    .static-img-l{
        width: 100%;
        height: auto;
        cursor: pointer;
        margin: 0 0 20px 0;
    }
    
    .static-img-s{
        display: none;
    }
}

@media (max-width: 900px){
    .static-img-l{
        display: none;
    }
    
    .static-img-s{
        width: 100%;
        height: auto;
        cursor: pointer;
        margin: 0 0 20px 0;
    }
}